body {
  min-width: 1200px;
}

.container-12 {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}



.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container-12 .grid-1 {
	width:80px;
}

.container-12 .grid-2 {
	width:180px;
}

.container-12 .grid-3 {
	width:280px;
}

.container-12 .grid-4 {
	width:380px;
}

.container-12 .grid-5 {
	width:480px;
}

.container-12 .grid-6 {
	width:580px;
}

.container-12 .grid-7 {
	width:680px;
}

.container-12 .grid-8 {
	width:780px;
}

.container-12 .grid-9 {
	width:880px;
}

.container-12 .grid-10 {
	width:980px;
}

.container-12 .grid-11 {
	width:1080px;
}

.container-12 .grid-12 {
	width:1180px;
}




/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container-12 .prefix-1 {
	padding-left:100px;
}

.container-12 .prefix-2 {
	padding-left:200px;
}

.container-12 .prefix-3 {
	padding-left:300px;
}

.container-12 .prefix-4 {
	padding-left:400px;
}

.container-12 .prefix-5 {
	padding-left:500px;
}

.container-12 .prefix-6 {
	padding-left:600px;
}

.container-12 .prefix-7 {
	padding-left:700px;
}

.container-12 .prefix-8 {
	padding-left:800px;
}

.container-12 .prefix-9 {
	padding-left:900px;
}

.container-12 .prefix-10 {
	padding-left:1000px;
}

.container-12 .prefix-11 {
	padding-left:1100px;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container-12 .suffix-1 {
	padding-right:100px;
}

.container-12 .suffix-2 {
	padding-right:200px;
}

.container-12 .suffix-3 {
	padding-right:300px;
}

.container-12 .suffix-4 {
	padding-right:400px;
}

.container-12 .suffix-5 {
	padding-right:500px;
}

.container-12 .suffix-6 {
	padding-right:600px;
}

.container-12 .suffix-7 {
	padding-right:700px;
}

.container-12 .suffix-8 {
	padding-right:800px;
}

.container-12 .suffix-9 {
	padding-right:900px;
}

.container-12 .suffix-10 {
	padding-right:1000px;
}

.container-12 .suffix-11 {
	padding-right:1100px;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container-12 .push-1 {
	left:100px;
}

.container-12 .push-2 {
	left:200px;
}

.container-12 .push-3 {
	left:300px;
}

.container-12 .push-4 {
	left:400px;
}

.container-12 .push-5 {
	left:500px;
}

.container-12 .push-6 {
	left:600px;
}

.container-12 .push-7 {
	left:700px;
}

.container-12 .push-8 {
	left:800px;
}

.container-12 .push-9 {
	left:900px;
}

.container-12 .push-10 {
	left:1000px;
}

.container-12 .push-11 {
	left:1100px;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container-12 .pull-1 {
	left:-100px;
}

.container-12 .pull-2 {
	left:-200px;
}

.container-12 .pull-3 {
	left:-300px;
}

.container-12 .pull-4 {
	left:-400px;
}

.container-12 .pull-5 {
	left:-500px;
}

.container-12 .pull-6 {
	left:-600px;
}

.container-12 .pull-7 {
	left:-700px;
}

.container-12 .pull-8 {
	left:-800px;
}

.container-12 .pull-9 {
	left:-900px;
}

.container-12 .pull-10 {
	left:-1000px;
}

.container-12 .pull-11 {
	left:-1100px;
}




.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}


.clearfix {
  zoom: 1;
}