@import 'gvalert';

body {
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

header.main-header {
	background-color: #ECF0F1;
	overflow: hidden;
	border-bottom: 1px solid #d9dfe0;
	color: #2c3e50;
	padding: 10px 0;
	h1 {
		padding: 0;
		margin: 0;
		font-size: 32px;
		span {
			opacity: .3;
		}
	}
	p {
		margin: 10px 0 0 0;
		font-size: 18px;
		font-weight: 100;
	}
}

article.main-article {
	padding-bottom: 50px;
	overflow: hidden;

	hr {
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, .1);
		margin: 40px auto;
		width: 100%;
	}

	.btn-test {
		display: inline-block;
		border: 2px solid #3498db;
		outline: none;
		background-color: #FFF;
		padding: 10px 20px;
		margin: 5px 10px;
		border-radius: 3px;
		color: #3498db;
		font-weight: bold;
		font-size: 14px;
		&:hover {
			color: #FFF;
			background-color: #3498db;
		}
	}
}

.btn-download {
	display: block;
	width: 300px;
	height: 70px;
	margin: 50px auto;
	background-color:#2ecc71;
	border: 2px solid #2ecc71;
	color: #FFF;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
	line-height: 70px;
	font-weight: regular;
	font-size: 28px;
	text-transform: uppercase;
	&:hover {
		color:#2ecc71;
		background-color: #FFF;
	}
}

.main-footer {
	background-color: #ECF0F1;
	overflow: hidden;
	border-top: 1px solid #d9dfe0;
	color: #2c3e50;
	padding: 10px 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
}